.aboutPage{
    font-family: 'Helvetica', 'Arial', sans-serif;
  }

/* Full height image header */
.firstPortion {
    background-image: url("https://images.unsplash.com/photo-1535320903710-d993d3d77d29?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1740&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    height: 850px;
  }
  
  .firstTitleandSub {
    background-color: rgba(0,0,0,0.25);
  }
  
  .h1Title {
    margin: 0;
    color: white;
    font-size: 100px;
    font-family: "Didot", serif;
    padding-top: 5%;
    padding-left: 5%;  
  }
  
  .firstSubTitle {
    font-size: 20px;
    color: white;
    padding-left: 20%;
    padding-bottom: 5%;
  }
  
  /* About Section */
  .secondPortion {
    background: white;
    padding-bottom: 5%;
  }
  
  .h3Title {
    font-size: 30px;
    text-align: center;
    padding-top: 10%;
  }
  
  .explain {
    text-align: center;
    font-size: 17px;
    margin: 3%;
  }
  
  .secondSub {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding: 2%
  }
  
  .symbolContainer {
    display: flex;
    justify-content: space-between;
    text-align: center;
  }
  
  .column {
    float: left;
    padding-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
  }
  
  .symbolTitle {
    font-weight: bold;
  }
  
  /* Team Section */
  .thirdPortion {
    background: rgb(235, 235, 235);
    padding-bottom: 5%;
  }
  
  .peopleContainer {
    display: flex;
    justify-content: space-between;
    text-align: center;
  }
  
  .columns {
    float: left;
    padding-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
  }
  
  .personName {
    font-weight: bold;
  }
  
  /* Who We Are Section */
  .fourthPortion {
    padding-bottom: 5%;
  }
  
  .hunterPic {
    text-align: center;
    margin-top: 5%
  }